
.container {
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

/* Backgroung GIF */
.background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.bg-gif {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* bloodstain overlay */
.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
}

.blood-png {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25; 
}


.title {
    position: absolute; 
    top: 5%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 3;
    color: #ffffff; 
    opacity: 0.8;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
    font-family: 'BMX-Radical', sans-serif; 
    font-size: 100px; 
    text-align: center;
}

/* x icons */
.x-icons-container {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 20px; 
    z-index: 4; 
    width: 80%;
}


.x-icon {
    position: relative; 
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}


.x-icon img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s ease; 
}

.x-icon:hover img {
    transform: scale(1.2); 
}

.tooltip-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'BMX-Radical', sans-serif;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 5; 
}

.x-icon:hover .tooltip-text {
    opacity: 1; 
}